<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<style>
		::-webkit-input-placeholder {
			text-align:center;
		}
		#f{
			width: 450px;
		}
	</style>
</head>

<body> <!--style="background-color: #379683">-->

	<nav class="navbar bg-dark navbar-dark navbar-expand-sm">

	  <a class="navbar-brand" href="javascript:void(0)">
		<img src="static/images/logo2.png" alt="logobird" style="width:40px;margin-top:-5px">
	  </a>

	  <!-- Links -->
	  <ul class="nav navbar-nav" style="visibility: visible;">

		<li class="nav-item">
		  <a class="nav-link active" href="javascript:void(0)">GidToGO</a>
		</li>

		<li class="nav-item">
		  <a class="nav-link" href="javascript:void(0)">Главная</a>
		</li>

		<li class="nav-item">
		  <a class="nav-link active" href="javascript:void(0)">Личный кабинет</a>
		</li>

		<li class="nav-item">
		  <a class="nav-link" href="javascript:void(0)">Выйти</a>
		</li>
	  </ul>

	</nav>
    <br>
   <div style="border-radius: 10px;background-color:#b6b6b6; width: 1000px; height: auto;" class="container-fluid">
        <br>
        <h2> Назавание биз </h2>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Занято</th>
      <th scope="col">Свободно</th>
      <th scope="col">Дата</th>
      <th scope="col">Адрес</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><button type="button" class="btn btn-danger">Удалить</button></td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><button type="button" class="btn btn-danger">Удалить</button></td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td><button type="button" class="btn btn-danger">Удалить</button></td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary">Добавить</button>
<br><br>
   </div>


</body>
</html>
